doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="shortcut icon", href="img/favicon.png", type="image/png")
    title Travel Solution | #{title}
  body
    include _header
    
    block content
    block signup
    block registration
    block login
    block forgotPassword
    block resetPassword
    block postStory

    include _footer

    script(src="/js/axios.js")