extends base

block forgotPassword
  main.main
    .login-form
      form.form
        .form__group
          label(for="email") Email Address
          input#email.form__input(type="email" placeholder="you@example.com" required)
        .form__group
          button.btn.btn--green Send
  script(src="/js/forgotPass.js")