extends base

block resetPassword
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset Your Password
      form.form.form--login
        .form__group
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••', required, minlength='6')
        .form__group.ma-bt-md
          label.form__label(for='password') Confirm Password 
          input#confirmPassword.form__input(type='password', placeholder='••••••', required, minlength='6')
        .form__group
          button.btn.btn--green Update
  script(src="/js/resetPassword.js")